/* Generic */

:root {
    --navheight: 60px;
    --tilemin: 100px;
}

.dark {
    --bg1: #19171E;
    --bg2: #2f2b3b;
    --bg3: #43384b;
    --item: #43384b;
    --text: white;
    --title: white;
    --locked: #625f64;
    --link: #7F9AAC;
    --shadow: black;
    --shadow-soft: #19171E;
    --red: #E55B5B;
    --detail: #43384b;
    --main-shadow: 8px;
    --soft-shadow: 6px;
    --icon-filter: none;
    --hcborder: none;
}

.light {
    --bg1: #ccc;
    --bg2: #eee;
    --bg3: #d7c2e5;
    --item: white;
    --text: #545454;
    --title: #545454;
    --locked: #625f64;
    --link: #466478;
    --shadow: black;
    --shadow-soft: grey;
    --red: #E55B5B;
    --detail: #bbb;
    --main-shadow: 8px;
    --soft-shadow: 6px;
    --icon-filter: brightness(0.333);
    --hcborder: none;
}

.contrast {
    --bg1: white;
    --bg2: white;
    --bg3: #19171E;
    --item: white;
    --text: black;
    --title: white;
    --locked: #f55;
    --link: #466478;
    --shadow: black;
    --shadow-soft: grey;
    --red: #E55B5B;
    --detail: #444;
    --main-shadow: 0px;
    --soft-shadow: 0px;
    --icon-filter: none;
    --hcborder: 2px;
}

body {
    background-color: var(--bg1);
    margin: 0;
}

/* Navbar */

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

nav {
    width: 100%;
    height: var(--navheight);
    background-color: var(--bg3);
    box-shadow: 0 0 var(--main-shadow) var(--shadow);
    z-index: 999;
    position: fixed;
    display: flex;
    align-items: center;
}

nav > a {
    text-decoration: none;
}

#logo {
    height: 40px;
    width: 40px;
    margin: 0 20px;
    background-image: url(img/logo.png);
    filter: var(--icon-filter);
    background-size: 40px;
}

#logo:hover {
    background-image: url(img/logo_color.png);
    animation: color-rotate 6s linear 0ms infinite;
}

#title {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: x-large;
    margin: 0 40px 0 0;
    text-decoration: none;
    color: var(--title);
}

#title:hover, nav > a:hover {
    text-decoration: underline;
}

nav > a {
    font-size: large;
    margin: 5px 20px 0 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: var(--title);
    cursor: pointer;
}

#separator {
    margin-left: auto;
}

.locked {
    cursor: not-allowed;
    color: var(--locked);
}

#themebutton {
    user-select: none;
}

#themeselector {
    position: absolute;
    width: 300px;
    height: 200px;
    top: calc(20px + var(--navheight));
    right: 20px;
    background-color: var(--bg3);
    z-index: 2;
    border-radius: 6px;
    box-shadow: 0 0 var(--soft-shadow) var(--shadow-soft);
    display: flex;
    flex-direction: column;
    outline: solid var(--hcborder) var(--bg3);
}

#themeselector * {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
    color: var(--text);
    font-size: large;
}

#themeselector > button {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
}

#themeselector > button > p {
    margin: 0;
    vertical-align: middle;
}

#closemenu {
    background-color: #E55B5B;
    color: var(--text);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#darktheme {
    background-color: #43384b;
    color: white;
}

#lighttheme {
    background-color: #eee;
    color: #545454;
}

#contrasttheme {
    background-color: white;
    color: black;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.hideselector {
    opacity: 0;
}

.showselector {
    opacity: 1;
}

/* Body */

main {
    padding-top: var(--navheight);
    width: min(890px, 100%);
    margin: auto;
    background-color: var(--bg2);
    box-shadow: 0 0 var(--main-shadow) var(--shadow);
    min-height: calc(100vh - var(--navheight));
    display: flex;
    flex-direction: column;
    outline: solid var(--hcborder) var(--bg3);
}

main * {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: 300;
    color: var(--text);
    font-size: large;
}

h1, h2, .detail {
    margin: 0;
    padding: 10px;
    padding-bottom: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: xx-large;
}

h2, .detail {
    font-size: x-large;
}

.detail {
    color: var(--detail);
}

p {
    margin: 10px 10px 0 10px;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline dotted;
}

.list {
    display: flex;
    gap: 10px;
    padding: 10PX;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 60px;
    border-radius: 6px;
    box-shadow: 0 0 var(--soft-shadow) var(--shadow-soft);
    background: var(--item);
    background-size: 300px;
    outline: solid var(--hcborder) var(--bg3);
}

.item * {
    user-select: none;
    pointer-events: none;
}

.item > h3 {
    font-size: medium;
    text-align: center;
    margin: 0;
    margin-right: 15px;
}

.item > img {
    /* height: 40px; */
    margin: 0;
    margin-left: 15px;
    color: var(--red);
}

.first {
    outline: solid 1px var(--red);
}

/* Footer */

footer {
    background-color: var(--item);
    height: 40px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer > a {
    font-size: large;
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: var(--link);
}

.disabled {
    color: var(--text);
}

/* Extra */

.gallery > img {
    margin-left: 10px;
    margin-right: auto;
}

#scrollbutton {
    display: none;
    position: fixed;
    padding: 0;
    top: 80px;
    right: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--item);
    border: 0;
    cursor: pointer;
    font-size: large;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
    color: var(--text);
    box-shadow: 0 0 var(--soft-shadow) var(--shadow-soft);
    outline: solid var(--hcborder) var(--bg3);
}

#warning {
    display: none;
    position: fixed;
    padding: 0;
    bottom: 20px;
    right: 20px;
    width: 250px;
    height: fit-content;
    background-color: var(--red);
    box-shadow: 0 0 var(--soft-shadow) var(--shadow-soft);
    border-radius: 6px;
    padding: 10px;
    outline: solid var(--hcborder) var(--bg3);
}

.first:hover > #warning {
    display: block;
}

#scrollbutton > span {
    padding-top: 3px;
}

@keyframes popup {
    from {top: 40px; opacity: 1; visibility: visible;}
    to {top: 80px; opacity: 1; visibility: visible;}
}

.popup {
    animation: popup 50ms ease-out;
}

@keyframes popdown {
    from {top: 80px; opacity: 1; visibility: visible;}
    to {top: 40px; opacity: 0; visibility: hidden;}
}

.popdown {
    animation: popdown 100ms ease-in;
}

/* Resizing */

@media only screen and (max-width: 190px) {
    #logo {
        width: 0;
    }

    .first:hover > #warning {
        display: none;
    }
}

@media only screen and (max-width: 350px) {
    .navbar {
        display: none;
    }
}

@media only screen and (max-width: 530px) {
    #warning {
        width: calc(100% - 60px);
    }

    #themeselector {
        width: calc(100% - 40px);
    }
}

@media only screen and (min-width: calc(110px*2 + 30px)) {
    .list > * {
        width: calc((100% - 10px) / 2);
    }
}

@media only screen and (min-width: calc(110px*3 + 40px)) {
    .list > * {
        width: calc((100% - 20px) / 3);
    }
}

@media only screen and (min-width: calc(120px*4 + 50px)) {
    .list > * {
        width: calc((100% - 30px) / 4);
    }
}

@media only screen and (min-width: calc(120px*5 + 60px)) {
    .list > * {
        width: calc((100% - 40px) / 5);
    }
}

@media only screen and (min-width: calc(120px*6 + 70px)) {
    .list > * {
        width: calc((100% - 50px) / 6);
    }
}

@media only screen and (min-width: 890px) {
    .list > * {
        width: calc((100% - 61px) / 7);
    }

    .item {
        background-size: 400px;
    }

    nav > a:last-child {
        margin-right: 0;
    }

    #separator {
        margin-left: 0;
    }

    #themeselector {
        left: 20px;
    }

    footer {
        gap: 20px;
    }
}