body {
    background-color: #11100F;
}

p, h1, h2, h3, a {
    display: list-item;
    font-family: 'Fira Mono', monospace;
    font-size: small;
    list-style: none;
    color: white;
}

a:link {
    color: aquamarine;
}

a:visited {
    color: aquamarine;
}

.cancelled {
    color: dimgrey;
}

.broken {
    color: red;
}

.planned {
    color: burlywood;
}
